<!DOCTYPE html>
<html>
    <head>
	{% load static %}
        <meta charset="utf-8" />
        <title>Plot update</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <strong>{{ studyName }}</strong> 
        <p>
        Total number of plots: {{ nPlots }}.
        </p>
        <p>
           <b> Select plot to update: </b>
            <form id="plot-form" action="" method="post">
                {% csrf_token %}
                <select name="plot-select" id="plot">
                    <option selected="selected" disabled="disabled">Select plot ID</option>
                    {% for key, value in plots.items %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="submit" name="load-plot" value="Load Plot" />
                <input type="submit" name="update-details" value="Update Details" />
                <br>
                <br>
                <input type="submit" name="download-file" value="Download Study Data as CSV File" />
            
        </p>
    
    
    {% if plant_height_limits %}
    <p>
        <p>Current limit for Plant height</p>
        <p>Max: {{ plant_height_limits.max }}</p>
        <p>Min: {{ plant_height_limits.min }}</p>
    </p>    
    {% endif %}

        <p>
        <!-- return no selectStudy-->
        <br>
        <a href = "{% url 'selectStudy' %}">Return to main select study menu</a>  
        </p>

    </body>
</html>
