<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

        <!-- jQuery library -->
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

        <!-- DataTables plugin JavaScript -->
	<!-- <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script> -->
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>

        <!-- DataTables plugin CSS -->
	<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> -->   
	<link rel="stylesheet" type="text/css" src="{% static 'css/jquery.dataTables.min.css' %}"></link>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <title>Plot Details</title>
       <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
              text-align: center;
            }
        </style>     
    </head>
    <body>
        
        
        <strong>{{ studyName }}</strong> 
        
        <p>
            plot {{plotIndex}}
        </p>
        <p>
        Row: {{ row }},   column: {{ column }} <br>
        Accession: {{ accession }} <br>
        </p>
                
        
        <p>
        
            
            
           <!-- show values of traits in dropdown menu --> 
           <form id="updateForm" method="post">
            {% csrf_token %}            
            <p>
            Select phenotype:     &nbsp
            <select id="trait" name="selected-trait" required>
                <option selected="selected" disabled="disabled">List of traits in study</option>
                {% for key, value in traits.items %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            </p>
            <br>
              <label for="my-input">Add measurement:</label>
              <input type="text" name="my-input" id="my-input" pattern="[0-9]+([.,][0-9]+)?" required>
            <br>
            <p>
              <label for="my-date">Select a date:  &nbsp</label>
              <input type="date" name="my-date" id="my-date">    
            </p>
            <p>
              (If not selected, today's date will be used).
            </p>
            <p>
            Add an end day if taking a multi-day measurement
            </p>
            <p>
                <label for="end-date">Select a date:  &nbsp</label>
                <input type="date" name="end-date" id="end-date">    
            </p>
  

            <p>
                <label for="extra-note">Optional note:</label>
                <input type="text" name="extra-note" id="extra-note">                  
            </p>
            <input type="submit" value="Submit observation" onclick="validateForm(event)">
            <br>
        </form>
        </p>

        <div id="message"></div>

        <p>
        <button id="clearCacheButton">Updata observation table and return to plot selection menu</button>

        
        <script>
            const form = document.querySelector("#updateForm");
            const message = document.querySelector("#message");
          
            // Validate the form before submitting
            const validateForm = () => {
              const traitValue = document.querySelector("#trait").value;
              const inputValue = document.querySelector("#my-input").value;
              const startDate  = document.querySelector("#my-date").value;
              
          
              if (traitValue === "List of traits in study") {
                alert("Please select a phenotype");
                return false;
              }
              if (!startDate) {
                const currentDate = new Date().toISOString().slice(0, 10);
                document.querySelector("#my-date").value = currentDate;
              }

              return true;
            };
          
            form.addEventListener("submit", (event) => {
              event.preventDefault();
          
              if (!validateForm()) {
                return;
              }
          
              const inputValue = document.querySelector("#my-input").value;
              const traitValue = document.querySelector("#trait").value;
              const startDate  = document.querySelector("#my-date").value;
              
              const endDate    = document.querySelector("#end-date").value || null;
              const end = endDate !== null ? JSON.stringify(endDate).slice(1, -1) : null;
              const plotNote  = document.querySelector("#extra-note").value|| null;
              const note = plotNote !== null ? JSON.stringify(plotNote).slice(1, -1) : null;

              console.log(`My input value is: ${inputValue}`);
              console.log(`Selected trait value is: ${traitValue}`);
              console.log(`start date is: ${startDate}`);
              console.log(`end date is: ${endDate}`);              
              console.log(`optional Note: ${plotNote}`);
          
              // Prepare the data to be sent to the server
              plotIndex = "{{plotIndex}}";
              studyID   = "{{studyID}}";
              plotID   = "{{plotID}}";
              studyID   = "63bfce1a86ff5b59175e1d66";// STUDY 1 (LIVE TEST)

              //studyID = "63c7e48ca115ca392f4b6fd3"; // STUDY 2 (LOCAL TEST)
              rowValue  = "{{row}}";
              columnValue    = "{{column}}";
              accessionValue = "{{accession}}";
              phenotype_name = "" + traitValue +"";
              start = ""+ startDate +"";
              //end   = ""+ endDate +"";
              //note  = ""+ plotNote +"";
              observation = ""+ inputValue +"";
              
              //phenotype_date = "" + traitValue +" " + startDate + " " + endDate +""; // NOT NEEDED ANYMORE              
                           
              grassrootsRequest={
                "services": [{"so:name": "Edit Field Trial Rack","start_service": true,
		        "parameter_set": {"level": "simple",
			    "parameters": [{
				"param": "RO Id","current_value": plotID,
				"group": "Plot"
			}, {
				"param": "RO Append Observations",
				"current_value": true,
				"group": "Plot"
			}, {
				"param": "RO Measured Variable Name",
				"current_value": [phenotype_name],
				"group": "Phenotypes"
			}, {
				"param": "RO Phenotype Raw Value",
				"current_value": [observation],
				"group": "Phenotypes"
			}, {
				"param": "RO Phenotype Corrected Value",
				"current_value": [null],
				"group": "Phenotypes"
			}, {
				"param": "RO Phenotype Start Date",
				"current_value": [start],
				"group": "Phenotypes"
			}, {
				"param": "RO Phenotype End Date",
				"current_value": [end],
				"group": "Phenotypes"
			}, {
				"param": "RO Observation Notes",
				"current_value": [note],
				"group": "Phenotypes"
			    }]}}]
              }
                
                console.info(JSON.stringify(grassrootsRequest));
                const csrftoken = '{{ csrf_token }}';
              // Send the form data to the server
              $.ajax({
                url: '/' + "ajax/interact_backend/",
                type: "POST",
                headers: {
                'X-CSRFToken': csrftoken
                },
                data: JSON.stringify(grassrootsRequest),
                contentType: "application/json",
                success: function (result) {
                  //message.textContent = result;
                  const jsonResponse = JSON.parse(result);
                  const statusText = jsonResponse.results[0].status_text;
                  const selectedTrait = document.querySelector("#trait").value;
                  const inputValue = document.querySelector("#my-input").value;
                  const messageText = `Form submitted for ${selectedTrait} with value ${inputValue}. <br> Status: ${statusText}`;
                  //message.textContent = messageText;
                  message.innerHTML = messageText;
                  //message.textContent = statusText;
                  if (statusText.toLowerCase() !== "succeeded") {
                       message.style.backgroundColor = "red";
                    } else {
                        message.style.backgroundColor = "#dff0d8";
                    }
                  message.style.display = "block";
                  form.reset();
                },
                error: function (xhr, status, error) {
                  console.error(error);
                  message.textContent = "An error occurred while submitting the form.";
                  message.style.display = "block";
                },
              });
            });

            // Retrieve CSRF token from a cookie
            function getCookie(name) {
                const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
                return cookieValue ? cookieValue.pop() : '';
            }
            const csrftoken = getCookie('csrftoken');

           // BUTTON TO CLEAR CACHE
            const clearCacheButton = document.getElementById('clearCacheButton');
            clearCacheButton.addEventListener('click', function() {
                studyID   = "{{studyID}}";
            clearCacheRequest = {services: [{start_service: true,
                    'so:alternateName': 'field_trial-manage_study',
                    parameter_set: {level: 'simple',
                    parameters: [
                    { param: 'ST Id', current_value: studyID },
                    { param: 'SM uuid', current_value: studyID },
                    { param: 'SM clear cached study', current_value: true },
                    { param: 'SM indexer', current_value: '<NONE>' },
                    { param: 'SM Delete study', current_value: false },
                    { param: 'SM Remove Study Plots', current_value: false },
                    { param: 'SM Generate FD Packages', current_value: false },
                    { param: 'SM Generate Handbook', current_value: false },
                    { param: 'SM Generate Phenotypes', current_value: false }]}
                    }]}

            $.ajax({
            url: '/' + 'ajax/interact_backend/',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: JSON.stringify(clearCacheRequest),
            contentType: 'application/json',
            success: function(result) {
                const jsonResponse = JSON.parse(result);
                const statusText = jsonResponse.results[0].status_text;            
                const messageText = `Observations updated. <br> Status: ${statusText}`;

            //const message = document.getElementById('message');
                message.innerHTML = messageText;

                if (statusText.toLowerCase() !== 'succeeded') {
                    message.style.backgroundColor = 'red';
                } else {
                    message.style.backgroundColor = '#dff0d8';
                }

                message.style.display = 'block';
                form.reset();

                // Redirect to the same page
                setTimeout(function() {
                window.location.href = '{% url "updatePlot" study_id=studyID %}';
                }, 1000);
            },
            error: function(xhr, status, error) {
                console.error(error);
                const message = document.getElementById('message');
                message.textContent = 'An error occurred while updating the table.';
                message.style.display = 'block';
            }
            });
            });


          </script>
          
          

<style>
    #message {
        display: none;
        margin-top: 10px;
        padding: 10px;
        background-color: #dff0d8;
        border: 1px solid #c8e5bc;
        border-radius: 4px;
    }
</style>
          
          
            <!-- return no selectStudy
            <p>
            <br>
            <a href = "{% url 'updatePlot' study_id=studyID %}">Return study menu</a>  
            </p>
        -->
        
        
       

    </body>
</html>
